.header {
  --color-icon-base: #c4c4c4;
  --color-icon-light: #d5d5d5;
  --color-icon-dark: #b3b3b3;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 20px 30px;
  background: var(--color-background-primary);
}

.iconWrapper {
  display: inline-block;
}

.iconWrapper path {
  fill: var(--color-icon-base);
  transition-property: fill;
  transition-duration: var(--transition-duration-base);
}

.iconWrapper:hover path {
  fill: var(--color-icon-light);
}

.iconWrapper:active path {
  fill: var(--color-icon-dark);
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleBtn {
  display: none;
}

@media (max-width: 768px) {
  .iconWrapper:hover path,
  .iconWrapper:active path {
    fill: var(--color-icon-base);
  }

  .toggleBtn {
    display: block;
  }

  .btnWrapper button {
    padding-right: 0;
  }
}
