.main {
  height: 100%;
  padding: 30px;
  padding-top: 100px;
  background: var(--color-background-secondary);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1366px) {
  .main {
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 20px;
  }
}
