.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: flex;
}

.text {
  width: 100%;
  text-align: center;
  color: var(--color-text-primary);
  font-size: var(--font-size-xlarge);
  font-weight: 500;
}
