:root {
  /* colors */
  --color-primary: #feaf00;
  --color-primary-gradient: linear-gradient(49deg, #feaf00 0%, #f8d442 100%);
  --color-secondary: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #6c6c6c;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f8f8f8;
  --color-border: #e5e5e5;
  --color-placeholder: #cdcdcd;
  --color-background-navbar: #f2eae1;
  --color-pagination: #9fa2b4;
  --color-background-card-1: #f0f9ff;
  --color-background-card-2: #fef6fb;
  --color-background-card-3: #fefbec;
  --color-background-card-4: var(--color-primary-gradient);

  /* typography */
  --font-family-default: Montserrat, sans-serif;
  --font-family-alternative: Mulish, sans-serif;
  --font-size-small: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-large: 1.375rem;
  --font-size-xlarge: 2rem;

  /* border radius */
  --border-radius-base: 4px;
  --border-radius-card: 20px;
  --border-radius-card-bg-colors: 8px;

  /* others */
  --box-shadow-card: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-family-default);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
}
