.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 80px;
}

.imgWrapper {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.profileImg {
  border-radius: 50%;
}

.fullName {
  color: var(--color-text-primary);
  font-size: var(--font-size-normal);
  font-weight: 700;
  margin-bottom: 10px;
}

.userType {
  color: var(--color-primary);
  font-size: var(--font-size-base);
  font-weight: 500;
}

@media (max-width: 1536px) {
  .profile {
    margin-bottom: 60px;
  }
}

@media (max-width: 1368px) {
  .profile {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1280px) {
  .profile {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
