.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
}

.headerTitle {
  color: var(--color-text-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
