.formWrapper form {
  --color-icon-base: #c4c4c4;
  --color-icon-light: #d5d5d5;
  --color-icon-dark: #b3b3b3;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 212px;
  padding: 10px 12px;
  padding-right: 40px;
  border-radius: var(--border-radius-card-bg-colors);
  border: 1px solid var(--color-border);
  background: var(--color-background-primary);
  transition-property: border-color;
  transition-duration: var(--transition-duration-base);
  height: 38px;
}

.input::placeholder {
  color: var(--color-placeholder);
  font-size: var(--font-size-small);
  font-weight: 400;
}

.input:focus {
  outline: unset;
  border-color: var(--color-border-dark);
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.iconBtn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.resetBtn {
  width: 28px;
}

.resetBtn button {
  background-color: transparent;
  padding: 6px 0 0 6px;
}

.resetBtn button svg path {
  fill: var(--color-icon-base);
  transition: fill var(--transition-duration-base);
}

.resetBtn button:hover svg path {
  fill: var(--color-icon-light);
}

.resetBtn button:active svg path {
  fill: var(--color-icon-dark);
}

@media (max-width: 768px) {
  .formWrapper {
    width: 100%;
  }
}
