.navbar {
  width: 100%;
  padding: 0 20px;
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}

@media (max-width: 1368px) {
  .itemList {
    gap: 14px;
  }
}

@media (max-width: 1280px) {
  .itemList {
    gap: 12px;
  }
}
