.card {
  width: 36%;
  max-width: 600px;
  height: max-content;
  padding: 42px 30px;
  background: var(--color-background-primary);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-card);
}

@media (max-width: 1024px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .card {
    width: 90%;
  }
}

.large {
  width: 80% !important;
  max-width: 1000px;
  padding: 32px;
}

@media (max-width: 768px) {
  .large {
    width: 100% !important;
    padding: 24px;
  }
}
